@font-face {
  font-family: still-time;
  src: url(still-time.ttf);
}

@font-face {
  font-family: LcdSolid-VPzB;
  src: url(LcdSolid-VPzB.ttf);
}

:root{

    --black-purple: #180327;
    --dark-purple: #30154b;
    --mid-purple:	#834bd0;
    --light-purple: #bb79f0;
    --white-purple:	#e5c6f0;
    --gold: conic-gradient(#edc800, #e3b600, #f3cf00, #ffe800,
    #edc800, #e3b600, #f3cf00, #ffe800,
    #edc800, #e3b600, #f3cf00, #ffe800,
    #edc800, #e3b600, #f3cf00, #ffe800);



}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    
    font-family: LcdSolid-VPzB;
    font-size: 16px;
    background-image: url(media/prince-pixel.gif);
  background-position: center;
  
    background-size: cover;
    background-repeat: no-repeat;
    
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}


.header{
  background-color: var(--mid-purple);
  box-shadow: 1px 1px 5px 0px var(--gray);
  
  position: sticky;
  top: 0;
  width: 100%;
  font-family: LcdSolid-VPzB;
  z-index: 1;
  border-width: 0.4rem;
  border-style: outset;
  border-color: var(--dark-purple);
}
/* Logo */
.logo {
  display: inline-block;
  color: var(--white);
  font-size: 2rem;
  margin-left: 50%;
  height: 2rem;
 
  
}
.logo img {
  height: 3rem;
}


/* Nav menu  CHANGED FIXED TO RELATIVE */
.nav{
  width: 100%;
  height: 100%;
  position: fixed;
  
  background-color: var(--mid-purple);
  overflow: hidden; 
}
.menu a{   
  display: block;
  padding: 3rem;
  color: var(--black-purple);
  font-size: 2rem;
  opacity: 0.8;
  border-width: 0.4rem;
  border-style: outset;
border-color: var(--dark-purple);

text-align: center;

  
  
}
.menu a:hover{
  background-color: var(--white-purple);
  opacity: 0.8;
  border-style: inset;
  border-color: var(--mid-purple);
  
  
}
.nav{
  max-height: 0;
  transition: max-height .5s ease-in-out;

}


/* Menu Icon */
.hamb{
  cursor: pointer;
  float: right;
  padding: 20px 20px;
}/* Style label tag */

.hamb-line {
  background: var(--white-purple);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
  background: var(--white-purple);
  content: ' ';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
  max-height: 100%;
  
}


.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}




.header-landing{
  background-color: var(--mid-purple);
  font-size: 2rem;
  margin: 1rem  auto;
  text-align: center;
  padding: 0.4rem;
  border-width: 0.4rem;
  border-style: outset;
  border-color: var(--dark-purple);
}
.content-main{
  display: flex;
  flex-direction: column;
  width: 100%;
  
  
  align-items: center;
  
  

}
.col {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  font-size: 1rem;
  transition-duration: 0.8s;
  background-color: var(--dark-purple);
  border-width: 0.4rem;
  border-style: outset;
  border-color: var(--black-purple);
  width: 90%;
  text-align: center;
  color: var(--white-purple);
  opacity: 0.7;
  letter-spacing: 0.5rem;
  
  
}
.ticket-but {
  margin: 1rem auto;
  padding: 0.5rem;
  background-color: gold;
  
  text-align: center;
  border-width: 0.2rem;
  border-style: outset;
  border-color: darkgoldenrod;
  font-family: LcdSolid-VPzB;
  
  
}
.col h4{
  display: none;
font-size: 1.2rem;
margin: 0.5rem;
}
.col:hover {
  
 
  background: url(media/discoball.gif), 0.8;
  background-size: cover;
  background-position: top;
  
  opacity: 1;
  height: max-content;
}
.col:hover h4{
  display: block;
}

.container-news{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

}
.news {
  background-color: var(--dark-purple);
  margin-top: 10%;
  width: 90%;
  color: var(--white-purple);
  transition: ease-in-out 0.8s;
  border-width: 0.4rem;
  border-style: outset;
  border-color: var(--black-purple);

}
.news:hover {
  
  width: 100%;
}
.news h1 {
  text-align: center;
}
.news img {
  float: left;
  width: 20%;
  
}
.news p {
  text-align: justify;
  font-size: 1rem;
}

.container-merch{
  display: flex;
  
  width: 100%;
  flex-direction: column;
  
  

}
.merch{
  display: flex;
  flex-flow: wrap;
  width: 50%;
  background-color: var(--dark-purple);
  margin: 1rem auto;
  
  border-width: 0.4rem;
  border-style: outset;
  border-color: var(--black-purple);
  max-width: 200px;
  
  
}
.title {
  width: 100%;
  text-align: center;
  color: var(--white-purple);
  margin: 1rem;
  
}
.merch img{
  height: 180px;
  width: 180px;
align-content: flex-start;
padding-bottom: 1rem;

}
.info {
  width: 50%;
  display: none;
  text-align: left;
  padding-left: 0.5rem;
  
  font-size: 1.5rem;
  color: var(--white-purple);
  font-size: 1rem;
  margin: auto auto;
  
}
.merch:hover .info {
  display: block;
  
  
  
}
.merch:hover{
  max-width: 400px;
  
  width: 100%;
  
}
.ticket-but:hover{
  border-style: inset;
  cursor: pointer;
}

.container-ringtones{
  display: flex;
  
  width: 100%;
  flex-direction: column;
  

}
.ringtone{
  background-color: var(--dark-purple);
  color: var(--white-purple);


}
.ringtone-content{
  display: none;
}
.ringtone:hover{
  display: block;
}

.footer {
  background-color: var(--mid-purple);
  font-size: 1rem;
  margin: 1rem  auto 0;
  text-align: center;
  padding: 0.4rem;
}


/* Responsiveness */
@media screen and (min-width: 768px) {

.content-main{
  margin: 0 auto;
}
  .col {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
    justify-content: center;
 
    transition-duration: 0.8s;
  
    width: 100%;
   
    
    
  }
 
  .content-main{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
  }
  .col{
   
   
  } 
  .col p{
    margin: auto;
  }
  .ticket-but {
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: gold;
    
    text-align: center;
    
    

  }
  .container-news{
    flex-direction: row;
    width: 70%;
    align-items: center;
  }
  .news {
    flex-direction: row-reverse;
    background-color: var(--dark-purple);
    margin-top: 10%;
    width: 50%;
    transition: ease-in-out 0.8s;
    
  }

  .container-merch{
    display: flex;
    width: 70%;
    flex-direction: column;
  
  }
  .merch {
    width: 100%;
    max-width: none;
   
  }
  .merch:hover{
    width: 100%;
    max-width: none;
  }
}